@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root{
  min-height: 100vh;
  display: flex;
  font-family: "Outfit";
  animation: fadeIn 1.5s;
}
.sidebar{
  min-height: 100vh;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  background-color: #f0f4f9;
}
img{
  width: 20px;
}
.menu{
  display: block;
  margin: 15px;
  cursor: pointer;
}
.new-Chat{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  background-color: rgb(203, 203, 203);
  border-radius: 50px;
}
.recent{
  display: flex;
  flex-direction: column;
  animation: fadeIn 1.5s;
}
.recent-title{
  margin-top: 30px;
  margin-bottom: 20px;
}
.recent-entry{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius:20px;
  cursor: pointer;
}
.recent-entry:hover{
  background-color: #e4e1e1;
}
.bottom{
  display: flex;
  flex-direction: column;
}
.bottom-item{
  padding: 10px;
}
.main{
  flex:1;
  min-height: 100vh;
  position: relative;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 50px;
}
.nav>img{
  border-radius: 50%;
  width: 40px;
}
.main-container{
  max-width: 900px;
  margin: auto;
}
.greeting{
  font-size: 56px;
  margin: 40px 0px;
  padding: 20px;
  font-weight: 500;
  color: #c4c7c5;
}
.greeting span{
  background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
  margin-bottom: 10px;
}
.card img{
  width: 35px;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}
.card{
  height: 200px;
  background-color: #f0f4f9;
  padding: 10px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}
.card:hover{
  background-color: #dfe4ea;
}
.main-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding:0 20px ;
  margin: auto;
  margin-top: 10px;
}
.search-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 20px;
  background-color: #f0f4f9;
  border-radius: 50px;
}
.search-box img{
  width: 24px;
  cursor: pointer;
}
.search-box div{
  display: flex;
  align-items: center;
  gap: 10px;
}
input{
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 10px;
  font-size: 16px;
}
.bottom-info{
  font-size: 13px;
  margin: 13px auto;
  text-align: center;
  font-weight: 300;
}
.result{
  padding: 0px 5%;
  max-height: 70vh;
  overflow-y:scroll;
}
.result::-webkit-scrollbar{
  display: none;
}
.result-title{
  margin: 40px 0px;
  display: flex;
  align-items: center;
  gap:20px;
}
.result img{
  width: 40px;
  border-radius: 50%;
}
.result-data{
  display: flex;
  align-items: start;
  gap: 20px;
}
.loader{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loader hr{
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right,#9ed7ff,#f0f4f9,#9ed7ff);
  background-size: 800px;
  height: 20px;
  animation: loader 3s linear infinite;
}
@keyframes loader {
  0%{
    background-position: -800px 0px;
  }
  100%{
    background-position: 800px 0px;
  }
}
.result-data p{
  font-size: 17px;
  font-family:300;
  line-height: 1.5;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media (max-width:600px){
  .sidebar{
    display: none;
  }
  .main-bottom input{
    flex: none;
    width: 150px;
  }
  .main-bottom img{
    width: 20px;
  }
  .search-box{
    padding: 5px 10px;
  }
  .search-box div{
    gap: 5px;
  }
}